@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="lib/css/styleguide.css">
    <link rel="stylesheet" href="css/storetheme.css">
    <link href="css/all.css">

    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Italiana&family=Josefin+Sans:wght@100;200;400;500;700&family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="img/cj.ico" type="image/x-icon" />


    <title>C&J Bakery</title>
</head>



<body>
    <div class="heroimage">

        <div class="freeship">
            <h3>FREE SHIPPING OVER $50. GET 10% OFF SITE WIDE.</h3>
        </div>

        <div class="title">
            <h1>C&J Bakery</h1>
        </div>

        <div class="abstract">
            <h2>Christmas Limited</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <button><span>EXPLORE</span></button>
        </div>

        <!-- header>h1+p -->
    </div>

    <div class="navbar">
        <!-- <div class="display-flex"> -->
        <!-- <nav class="flex-none nav"> -->
        <ul class="nav">
            <li><a href="#article1">Order</a></li>
            <li><a href="#article2">Blog</a></li>
            <li><a href="#article3">Contact</a></li>
        </ul>
        <!-- </nav> -->
        <!-- nav.nav>ul>li*4>a[href=#article$]>{Link $} -->
        <!-- 				<div class="flex-stretch"></div>
                        <nav class="flex-none nav justify-content-end"> -->
        <ul class="nav justify-content-end">
            <li><a href="#article1">Location</a></li>
            <li><a href="#article2">Login</a></li>
            <li><a href="#article2"><i class="fa fa-search"></i></a></li>
            <li><a href="#article3">Cart</a></li>
        </ul>
        <!-- 	</nav> -->
        <!-- </div> -->
    </div>




    <!-- .container>article#article$.article*4>h2{Article $}+div.article-body>p*3>lorem40 -->
    <div class="container content">
        <h1 class="order">Order</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="col dropdownmenu">
                <button class="dropdown-item menu"><span>PICK-UP</span></button>
                <button class="dropdown-item menu"><span>DELIVERY</span></button>
                <button class="dropdown-item menu"><span>CURBSIDE PICK-UP</span></button>
            </div>

            @*@for (int i = 0; i < Model.Products.Count(); i++)
            {

                @if (i % 3 == 1)
                {
                    <div class="col">
                }
                <div class="card">
                    <img src="img/1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">$50</p>
                    </div>
                    <button class="addtocart"><span>Add to cart</span></button>
                </div>
                @if (i % 3 == 0)
                {
                    </div>
                }
            }*@

            @foreach (var product in Model.Products)
            {
                <div class="col">
                    <div class="card">
                        <img src="@product.Image" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@product.Title</h5>
                            <p class="card-text">$@product.Price</p>
                        </div>
                        <button class="addtocart"><span>Add to cart</span></button>
                    </div>
                </div>
            }

            @*<div class="col">
                <div class="card">
                    <img src="img/1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">$50</p>
                    </div>
                    <button class="addtocart"><span>Add to cart</span></button>
                </div>

                <div class="card">
                    <img src="img/4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">$40</p>
                    </div>
                    <button class="addtocart"><span>Add to cart</span></button>
                </div>

                <div class="card">
                    <img src="img/7.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">$80</p>
                    </div>
                    <button class="addtocart"><span>Add to cart</span></button>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="img/2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">$50</p>
                    </div>
                    <button class="addtocart"><span>Add to cart</span></button>
                </div>

                <div class="card">
                    <img src="img/5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">$66</p>
                    </div>
                    <button class="addtocart"><span>Add to cart</span></button>
                </div>

                <div class="card">
                    <img src="img/8.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">$70</p>
                    </div>
                    <button class="addtocart"><span>Add to cart</span></button>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="img/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">$50</p>
                    </div>
                    <button class="addtocart"><span>Add to cart</span></button>
                </div>

                <div class="card">
                    <img src="img/6.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">%45</p>
                    </div>
                    <button class="addtocart"><span>Add to cart</span></button>
                </div>

                <div class="card">
                    <img src="img/9.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">$80</p>
                    </div>
                    <button class="addtocart"><span>Add to cart</span></button>
                </div>
            </div>*@
        </div>
    </div>
                
            <footer class="footer">
                <p>@@Chuhan Jie 2020 Fall WNM608</p>
            </footer>





            <script>
                window.onscroll = function () { myFunction() };

                var navbar = document.querySelector(".navbar");
                console.log(navbar);
                var sticky = navbar.offsetTop;

                function myFunction() {
                    if (window.pageYOffset >= sticky) {
                        navbar.classList.add("sticky")
                    } else {
                        navbar.classList.remove("sticky");
                    }
                }
            </script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
        </html>
