.nav {
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
	font-size: 1em;
	display: inline-block;
}

.nav a {
	color: #0D0D0D;
	padding: 0 0.5em;
}

.nav a:hover {
	color: #0D0D0D;
	text-decoration: none;
}