.container {
	max-width: 95%;
	margin-right: auto;
	margin-left: auto;
}

.sticky {
	/* position: fixed; */
	top: 0;
	z-index: 1000;
}

.order {
	color: white;
	margin: 4vh auto;
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
	text-align: center;
}

.dropDownMenu {
	padding: 3vh 0;
}